<div class="container">
  <h1 class="ps-3 mt-3">List of quizzs</h1>

    <% @quizzs.each do |quizz| %>
      <div class="card p-3 m-3">
        <h3><%= link_to quizz.title, quizz_path(quizz) %></h3>
        <p><%= quizz.description %></p>
      </div>
    <% end %>
</div>
